/* ========================================
   BASE BADGE
======================================== */

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 6px 12px;

  border-radius: var(--radius-sm);

  font-family: "Chivo Mono";

  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.56px;

  text-transform: uppercase;

  white-space: nowrap;
}

.badge--hero {

border: 1px solid rgba(255, 255, 255, 0.10);

background: rgba(12, 10, 9, 0.80);

backdrop-filter: blur(100px);
  color: var(--yellow-04);

}

/* ========================================
   BADGE SECTION
======================================== */

.badge--section {
  border: 1px solid var(--yellow-05);

  background: var(--yellow-01);

  color: var(--yellow-09);

}

/* ========================================
   BADGE SPOTLIGHT
======================================== */

.badge--spotlight {
  position: absolute;

  top: 24px;
  left: 24px;

  background: var(--gradient-yellow);
  color: var(--neutral-11);
}


/* ========================================
   BADGE JUARA
======================================== */

.badge--juara-1 {
  background: #FFF7DC;
  border: 1px solid #FFEE83;
  color: #876803;
}

.badge--juara-2 {
  background: #EFEFEF;
  border: 1px solid #D5D5D5;
  color: #636363;
}

.badge--juara-3 {
  background: #FFEAD5;
  border: 1px solid #FFDFBE;
  color: #8F4800;
}

/* ========================================
   BADGE LOCATION
======================================== */

.badge--location {
  border: 1px solid var(--blue-03);

  background: var(--blue-01);

  color: var(--blue-09);
}

/* ========================================
   BADGE YEAR
======================================== */

.badge--year {
  border: 1px solid var(--yellow-05);

  background: var(--yellow-01);

  color: var(--yellow-09);

  font-family: var(--font-family-mono);

  box-shadow: 0 1px 2px rgba(12,10,9,0.06);
}

