/* ========================================
   SECTION HEADER
======================================== */

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 16px;

  margin-bottom: 60px;

  text-align: center;
  width: 100%;
}

.section-title {
  color: var(--Neutral-11, #0C0A09);
  text-align: center;
  max-width: 444px;
  width: 100%;

  /* Heading/Desktop/H2 */
  font-family: Helvetica;
  font-size: var(--h2-size);
  font-weight: var(--fw-regular);
  line-height: var(--h2-line);
  letter-spacing: var(--h2-spacing);
}

.section-title--hero {
  color: var(--neutral-00, #FFFFFF);
  max-width: 640px;
  width: 100%;
  text-align: left;
  font-size: var(--display-size);

  overflow: hidden;

  display: -webkit-box;

  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.section-description {
  max-width: 720px;

  color: var(--neutral-08);

  font-size: 18px;
  line-height: 1.7;
}